@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  margin: 0 auto;
}

html,
body {
  max-width: 1591px;
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 1.6rem;
  min-height: 100dvh;
  color: #585858;
  background: #fff;
}

form {
  display: inline-block;
}
.field {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
label {
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  transform: translateY(20px);
  pointer-events: none;
}
input:focus + label {
  transform: translateY(-2px);
}
